.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container-narrow > hr {
  margin: 30px 0;
}

#left-panel {

  padding: 10px;
  border-right: 1px solid #ddd;
  min-height: 50em;

  ul {
    padding-left: 15px;
  }
}

#closer {
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
}

#closer:hover {
  color: #999;
}
